# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Global]
numberOfStations =  1
serverMode = PRODUCTION
serverEncryption = NONE

# Supported values are (DEBUG, INFO, WARNING, ERROR, CRITICAL)
loggingLevel = DEBUG
loggingFormatter = %(log_color)s %(asctime)s %(levelname)s - %(message)s
defaultUIMode = Station
serverPort = 8090
serverAllowRemote = True
autoOpenCells = True
threadPoolCount = 10

# This sets the operator name (For now... this should be moved eventually.)
operatorName = operator

# This sets the media directory for test (non-server) related HTML
# media.  The directory path can be a relative path to the current
# working directory or an absolute path.  In HTML, you will reference
# this dir as /test_media.  Comment it out if not used.
test_media_dir = test_media

# This contains the process plan that will be executed by each cell.
# Note: Each Process Plan is loaded as a module, so omit adding the '.py' to
# the file name.
[ProcessPlans]
dirpath = components/process_plans
station0 = demo_plan
station1 = demo_plan

[StationNames]
station0 = Reserved Test Station
station1 = Demo 1

[GlobalStartOptions]
global_start_mode: INDIVIDUAL_START

[StationStartOptions]
station0 = Reserved START
station1 = START

[StationStartInputOptions]
station0 = SERIAL_NUMBER
station1 = SERIAL_NUMBER

[Driver_System_Station]
shared_driver_module_name = SharedDriver
shared_driver_module_path = OpenTest/process_plans
shared_driver_class_name = Driver
station_driver_module_name = StationDriver
station_driver_class_name = Driver
station_driver_parent_instance = Driver_System_Station.%(shared_driver_module_name)s.%(shared_driver_class_name)s

[ReportWriters]
EnableWarningOnPrimaryWriteFailure = True

[HTMLReporter]
# This setting is used to enabled/disable the reporter
Enabled=True
# This setting determines the primary output folder of the reporter
PrimaryOutputDir = '../../reports'
# This setting determines a backup folder that is used if the write to the
# primary folder is unsuccessful
SecondaryOutputDir = '../../reports_backup'
# This configures the default file extension for the report writer
FileExtension = 'html'

[OpenTestCloudReporter]
SendDebugRecord=False
Enabled=True
DisableCompression = False
ServerURL=https://opentest-1023.appspot.com/data/upload
ProcessRunLocation=GCS
OutputFileOnly=False
PrimaryOutputDir='../../reports'
SecondaryOutputDir='../../reports_backup'
KeepReportBackup = False
RetryQueueDir='../../reports_backup'
FileExtension=otdata
TesterName=DefaultTester
TesterSecret=DefaultSecret
